@model (List<int> images, int productId)

@if(Model.images.Count == 0) 
{
	<p class="text-danger">This product does not have any images. Are you sure that it even exists in the first place?</p>
	<div class="text-danger" asp-validation-summary="ModelOnly"></div>
}
else
{
	<div class="container">
		@Html.Raw("<div class='row'>")
			@for (int index = 0; index < Model.images.Count; ++index)
			{
				<div class="col d-flex align-items-stretch justify-content-center">
					<div class="card m-2" style="width: 20rem;">
						<img src="/images/image/@Model.images[index]" class="card-img-top border-bottom" alt="Product image">
						<div class="card-body d-flex">
							<div class="border-top pt-2 mt-auto w-100">
								<button data-myid="@Model.images[index]" class="main-image-btn btn btn-success me-1">Set As Main Image</button><button data-myid="@Model.images[index]" class="delete-image-btn btn btn-danger">Delete</button>
							</div>
						</div>
					</div>
				</div>

				@if(((index + 1) % 3 == 0) && (index != 0))
				{
					@Html.Raw("</div>")
					@if(Model.images.Count % 3 != 0)
						@Html.Raw("<div class='row'>")
				}
			}
		@if (Model.images.Count % 3 != 0)
			@Html.Raw("</div>")
	</div>
	<hr />
	<form id="confirmationForm" action="/products/images/action/update" method="post">
		@Html.AntiForgeryToken()
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<input name="newMainImageId" id="mainImage" type="hidden" value="0"/>
		<input name="productId" type="hidden" value="@Model.productId"/>
		<input type="submit" value="Confirm" class="btn btn-success w-100"/>
	</form>
}

@section scripts {
	<script type="text/javascript" src="~/js/productImagesUpdate.js"></script>
}