@model WebApp.ViewModels.Product.ProductShow
@{
	string shortDescription;
	if(Model.Description.Length <= 250)
	{
		shortDescription = Model.Description;
	}
	else
	{
		shortDescription = Model.Description.Substring(0, 250);
		if(char.IsLetterOrDigit(shortDescription.Last()))
		{
			shortDescription += "...";
		}
	}
}

@if (Model.DisplayEditing)
{
	<div id="productDeleteConfirmation" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Підтвердження видалення елементу</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-none">
					<form id="deleteConfirmationForm" action="/products/action/delete" method="post">
						@Html.AntiForgeryToken()
						<input type="hidden" value="@Model.Id" name="id" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="site-button site-secondary-button" data-bs-dismiss="modal">Відмінити</button>
					<button form="deleteConfirmationForm" type="submit" class="site-button site-primary-button">Підтвердити</button>
				</div>
			</div>
		</div>
	</div>
}

<div class="my-3 mx-2">
	@if (Model.DisplayEditing)
	{
		<div class="d-flex flex-row w-100 border-bottom pb-3">
			<button id="deleteProductButton" class="site-button site-danger-button me-auto">Видалити</button>

			<form action="/products/action/update" method="get">
				<input type="hidden" value="@Model.Id" name="id" />
				<input type="submit" class="site-button site-primary-button me-3" value="Змінити Головну Сторінку" />
			</form>

			<form action="/product/stocks" method="get">
				<input type="hidden" value="@Model.Id" name="id" />
				<input type="submit" class="site-button site-primary-button mx-3" value="Керувати Наявними" />
			</form>

			<form action="/products/images/action/update" method="get">
				<input type="hidden" value="@Model.Id" name="id" />
				<input type="submit" class="site-button site-primary-button mx-3" value="Керувати Зображеннями" />
			</form>
		</div>
	}

	<div class="d-flex flex-row mt-5">
		<div class="d-flex ms-3 w-50">
			<div class="align-self-center">
				<div class="d-flex justify-content-center align-content-center flex-column p-1 pt-0" style="max-width:125px;">
					@for(int index = 0; (index < 3) && (index < Model.ProductImages.Count); ++index)
					{
						<img tabindex="0" width="40" height="40" src="@Model.ProductImages[index].Path" class="d-none rounded-1 min-image m-2" role="button"/>
					}
				</div>
			</div>
			<div class="flex-fill align-self-center">
				<div class="col d-flex">
					<div id="shownImageScrollContainer" class="my-2 mx-auto" style="max-width:27rem;max-height:40rem;">
						<img id="shownImage" class="d-none rounded-1" src="@Model.MainImage" style="cursor:zoom-in;"/>
					</div>
				</div>
			</div>
		</div>
		<div style="max-width:25rem;">
			<h4>
				@Model.Name <span class="text-muted">(Переглядів: @Model.ViewsCount)</span>
			</h4>
			@if(Model.Discount == 0)
			{
				<p class="fw-bold">@Model.Price грн</p>
			}
			else
			{
				<p>
					<div class="text-muted text-decoration-line-through">@Model.Price грн</div>
					<div class="fw-bold d-flex">
						<span class="my-auto">@Model.TruePrice грн</span>
						<span class="badge rounded-pill bg-dark ms-2 my-auto">-@Model.Discount%</span>
					</div>
				</p>
			}
			<p>
				<div class="prevent-select">
					@for(int counter = 0; counter < Model.Rating; ++counter)
					{
						<span data-ratingvalue="@(counter + 1)" class="rating-star" role="button">★</span>
					}
					@for(int counter = Model.Rating; counter < WebApp.ViewModels.Product.ProductShow.MaxStarsRating; ++counter)
					{
						<span data-ratingvalue="@(counter + 1)" class="rating-star" role="button">☆</span>
					}
					<span class="text-muted">(@Model.ReviewsCount)</span>
					@Html.AntiForgeryToken()
				</div>
				<div id="ratingError" class="text-danger d-none"></div>
			</p>
			<p>
				<span class="fw-bold">Автор: </span>@Model.AuthorName
			</p>
			<p>
				<span class="fw-bold">Короткий опис: </span><span class="text-wrap text-break">@shortDescription</span>
			</p>
			<button class="btn btn-outline-dark mt-4 px-5 rounded-5">Додати у кошик</button>
		</div>
		@if(Model.BrandInfo != null)
		{
			<div class="d-flex flex-column ms-auto">
				<img id="brandImage" width="200" height="80" class="d-none" src="/images/brandImage/@Model.BrandInfo.Value.ImageId" alt="@Model.BrandInfo.Value.Name"/>
			</div>
		}
	</div>

	<div class="mt-3">
		<div id="descriptionShow" class="d-flex flex-row mx-2 py-2 prevent-select" role="button">
			<span class="me-auto my-auto text-uppercase">Повний опис з оригінальним форматуванням</span>
			<h2 id="descriptionMaximizer" class="my-auto">+</h2>
		</div>
		<pre id="formatedProductDescription" style="display:none;" class="ms-3">@Model.Description</pre>

		<div id="stocksShow" class="d-flex flex-row mx-2 py-2 prevent-select d-none" role="button">
			<span class="me-auto my-auto text-uppercase">Види товару у наявності</span>
			<h2 id="stocksMaximizer" class="my-auto">+</h2>
		</div>
		<div id="stocksContainer" style="display:none;" class="ms-3">
			<form action="#" style="font-size:0.9rem;">
				<h4>Оберіть колір</h4>
				<fieldset id="colours" class="d-flex justify-content-start border-top">
					@foreach(var colour in Model.AvailableColours)
					{
						<input id="colour-@colour.Id" data-myid="@colour.Id" type="radio" value="@colour.Id" name="stockColour" class="stock-information-select radio-select d-none" />
						<label for="colour-@colour.Id" for="colour-@colour.Id" class="prevent-select m-2 rounded-pill" role="button">
							<div class="d-flex flex-row p-2">
								<div class="border border-1 rounded-circle" style="height:1.5rem;width:1.5rem;background:@colour.HexCode"></div>
								<div class="fw-bold ms-3 my-auto">@colour.Name</div>
							</div>
						</label>
					}
				</fieldset>
				<h4 class="mt-5">Оберіть розмір</h4>
				<fieldset id="sizes" class="d-flex justify-content-start border-top">
					@foreach(var size in Model.AvailableSizes)
					{
						<input id="size-@size.Id" data-myid="@size.Id" type="radio" value="@size.Id" name="stockProductsSize" class="stock-information-select radio-select d-none" />
						<label for="size-@size.Id" for="size-@size.Id" class="prevent-select m-2 rounded-pill" role="button">
							<div class="d-flex flex-row p-2">
								<div class="fw-bold">@size.Name</div>
							</div>
						</label>
					}
				</fieldset>
			</form>
			<div class="border-top mt-4 p-2">У наявності: <span id="availableContainer"></span></div>
		</div>
	</div>

	<div class="my-5">
		<h3>Вся галерея зображень:</h3>
		<div class="gallery d-flex flex-row flex-wrap justify-content-center w-100 p-4 rounded-1">
			@for(int index = 0; index < Model.ProductImages.Count; ++index)
			{
				<img tabindex="0" width="40" height="40" src="@Model.ProductImages[index].Path" class="rounded-1 min-image m-2" role="button"/>
			}
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript" src="~/js/productShow.js"></script>
}