@model WebApp.ViewModels.Product.ProductsSearchInitializator

<div class="my-3 mx-2">
	<button id="searchToggler" class="position-fixed bottom-0 end-0 border border-3 rounded-circle m-2" style="z-index:2001">
		<img id="showSearch" class="p-2" src="/resources/lookup.svg"/>
	</button>

	<div id="searchInputsContainer" class="search-bar position-fixed top-0 start-0 vh-100 border-end overflow-auto d-none" style="z-index:2001">
		<div class="d-flex flex-column">
			<div class="d-flex flex-column search-element">
				<div class="d-flex flex-row mx-2 py-2 prevent-select search-toggler" role="button">
					<span class="me-auto my-auto">Назва</span>
					<h2 class="my-auto maximizer">+</h2>
				</div>
				<div class="search-target">
					<div class="p-2">
						<label for="query" class="form-label">Пошук за назвою:</label>
						<input value="@Model.Query" type="text" class="form-control" id="query" />
					</div>
				</div>
			</div>
			<div class="d-flex flex-column search-element">
				<div class="d-flex flex-row mx-2 py-2 prevent-select search-toggler" role="button">
					<span class="me-auto my-auto">Категорія</span>
					<h2 class="maximizer my-auto maximizer">+</h2>
				</div>
				<div class="search-target">
					<div class="p-2">
						<label for="category" class="form-label">Категорії для пошуку:</label>
						<select asp-items="@Model.Categories" class="form-control" id="category" multiple>
							<option value="0">Не вказано</option>
						</select>
					</div>
				</div>
			</div>
			<div class="d-flex flex-column search-element">
				<div class="d-flex flex-row mx-2 py-2 prevent-select search-toggler" role="button">
					<span class="me-auto my-auto">Бренд</span>
					<h2 class="maximizer my-auto maximizer">+</h2>
				</div>
				<div class="search-target">
					<div class="p-2">
						<label for="brandSearch" class="form-label">Бренди товарів:</label>
						<select asp-items="@Model.Brands" id="brandSearch" class="form-control" multiple>
							<option value="0">Не вказано</option>
						</select>
					</div>
				</div>
			</div>
			<div class="d-flex flex-column search-element">
				<div class="d-flex flex-row mx-2 py-2 prevent-select search-toggler" role="button">
					<span class="me-auto my-auto">Ціна</span>
					<h2 class="maximizer my-auto maximizer">+</h2>
				</div>
				<div class="search-target">
					<div class="p-2 border-bottom">
						<label for="maxPrice" class="form-label">Макс. ціна:</label>
						<input type="number" class="form-control" id="maxPrice" />
					</div>
					<div class="p-2">
						<label for="minPrice" class="form-label">Мін. ціна:</label>
						<input type="number" class="form-control" id="minPrice" />
					</div>
				</div>
			</div>
			<div class="d-flex flex-column search-element">
				<div class="d-flex flex-row mx-2 py-2 prevent-select search-toggler" role="button">
					<span class="me-auto my-auto">Рейтинг</span>
					<h2 class="maximizer my-auto maximizer">+</h2>
				</div>
				<div class="search-target">
					<div class="p-2 border-bottom">
						<label for="minRating" class="form-label">Мін. рейтинг (від 0 до 10):</label>
						<input type="number" class="form-control" id="minRating" />
					</div>
					<div class="p-2">
						<label for="minRating" class="form-label">Мін. кількість оцінок:</label>
						<input value="@Model.MinRatingsCount" type="number" class="form-control" id="minRatingsCount" />
					</div>
				</div>
			</div>
			<div class="d-flex flex-column search-element">
				<div class="d-flex flex-row mx-2 py-2 prevent-select search-toggler" role="button">
					<span class="me-auto my-auto">Дата</span>
					<h2 class="maximizer my-auto maximizer">+</h2>
				</div>
				<div class="search-target">
					<div class="p-2 border-bottom">
						<label for="maxDate" class="form-label">Макс. дата створення:</label>
						<input type="date" class="form-control" id="maxDate" />
					</div>
					<div class="p-2">
						<label for="minDate" class="form-label">Мін. дата створення:</label>
						<input value="@Model.MinDate" type="date" class="form-control" id="minDate" />
					</div>
				</div>
			</div>
			<div class="d-flex flex-column search-element">
				<div class="d-flex flex-row mx-2 py-2 prevent-select search-toggler" role="button">
					<span class="me-auto my-auto">Колір</span>
					<h2 class="maximizer my-auto maximizer">+</h2>
				</div>
				<div class="search-target">
					<div class="p-2">
						<label for="colourSearch" class="form-label">Наявний колір:</label>
						<select asp-items="@Model.Colours" id="colourSearch" class="form-control" multiple>
							<option value="0">Не вказано</option>
						</select>
					</div>
				</div>
			</div>
			<div class="d-flex flex-column search-element">
				<div class="d-flex flex-row mx-2 py-2 prevent-select search-toggler" role="button">
					<span class="me-auto my-auto">Розмір</span>
					<h2 class="maximizer my-auto maximizer">+</h2>
				</div>
				<div class="search-target">
					<div class="p-2">
						<label for="sizeSearch" class="form-label">Наявний розмір:</label>
						<select asp-items="@Model.Sizes" id="sizeSearch" class="form-control" multiple>
							<option value="0">Не вказано</option>
						</select>
					</div>
				</div>
			</div>
			<div class="d-flex flex-column search-element">
				<div class="d-flex flex-row mx-2 py-2 prevent-select search-toggler" role="button">
					<span class="me-auto my-auto">Сортування</span>
					<h2 class="maximizer my-auto maximizer">+</h2>
				</div>
				<div class="search-target">
					<div class="p-2 border-bottom">
						<label for="sortType" class="form-label">Тип сортування:</label>
						<select asp-items="@Model.SortTypes" id="sortType" class="form-control">
							<option value="0">Не вказано</option>
						</select>
					</div>
					<div class="p-2">
						<label for="orderType" class="form-label">Напрямок:</label>
						<select asp-items="@Model.Directions" id="orderType" class="form-control"></select>
					</div>
				</div>
			</div>
			<div class="p-2 mt-auto">
				<button id="searchButton" class="btn btn-outline-primary w-100">Пошук</button>
			</div>
		</div>
	</div>

	<div class="d-flex flex-row justify-content-center flex-wrap" id="productsContainer"></div>
	<button id="loadMore" class="btn btn-outline-secondary w-100 mt-5">Завантажити ще</button>
</div>

@section scripts {
	<script type="text/javascript" src="~/js/search.js"></script>
}